* {
    margin: 0;
    padding: 0;
}

main {
    display: flex;
}

.left {
    border: 1px solid black;
    width: 1010px;
    height: 720px;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.right {
    border: 2px solid rgb(60, 54, 81);
    width: 540px;
    height: 720px;
    background-color: rgb(34, 33, 49);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.a {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 100px;
    height: 100px;
}

.b {
    /* text-align: center; */
    font-size: 40px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    margin-top: 100px;
    font-size: 40px;
}

.e {
    margin-bottom: 10px;
    width: 400px;
    padding: 13px;
    border-radius: 10px;
    color: grey;
    border-color: grey;
    background-color: rgb(31, 30, 43);
}

.f {
    margin-bottom: 20px;
    width: 400px;
    padding: 13px;
    border-radius: 10px;
    color: grey;
    border-color: grey;
    background-color: rgb(31, 30, 43);
}

.g {
    width: 430px;
    padding: 10px;
    border-radius: 20px;
    color: grey;
    background-color: blue;
}

.h {
    margin-bottom: 30px;
    display: inline-block;
    width: 420px;
    padding: 8px;
    background-color: rgb(31, 30, 43);
    color: white;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    border-radius: 20px;
}

.h:hover {
    background-color: grey;
}

.i {
    display: inline-block;
    width: 420px;
    padding: 8px;
    background-color: rgb(31, 30, 43);
    color: white;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    border-radius: 20px;
    border-color: white;
}

.i:hover {
    background-color: grey;
}

.j {
    display: inline-block;
    width: 420px;
    padding: 8px;
    background-color: rgb(31, 30, 43);
    color: blue;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    border-radius: 20px;
    border-color: blue;
}

.j:hover {
    background-color: grey;
}

.k {
    color: white;
    margin-top: 20px;
}

footer {
    border: 2px solid rgb(39, 38, 38);
    background-color: black;
    color: white;
    width: 1532px;
    height: 48px;
}